@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

html,body,header,h1,nav,ul,li,a,section,div,h2,p,footer,article {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

body {
    line-height: 1;
    background: #ffffff;
    height: 100%;
    min-width: 320px;
    text-decoration: none;
}

body:before {
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    color: #e5e6e7;
    content: '\f1ce';
    cursor: default;
    display: block;
    font-size: 2em;
    height: 2em;
    left: 50%;
    line-height: 2em;
    margin: -1em 0 0 -1em;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 2em;
    z-index: -1;
}

body:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

@media (-webkit-min-device-pixel-ratio: 2) {

    body:before {
        line-height: 2.025em;
    }

}

header,
nav,
section,
footer,
article {
    display: block;
}

header {
    margin-bottom: 1em;
}

header p {
    display: block;
    margin: 1em 0 0 0;
    padding: 0 0 0.5em 0;
}

#header {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    height: 3em;
    line-height: 3em;
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}

#header h1 {
    position: absolute;
    left: 1em;
    top: 0;
    height: 3em;
    line-height: 3em;
    cursor: default;
}

#header nav {
    position: absolute;
    right: 0.5em;
    top: 0;
    height: 3em;
    line-height: 3em;
}

#header nav ul {
    margin: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.9em;
}

#header nav ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    padding: 0 0.5em 0 0.5em;
    outline: 0;
}

@media screen and (max-width: 736px) {

    #header {
        height: 2.5em;
        line-height: 2.5em;
    }

    #header h1 {
        text-align: center;
        position: relative;
        left: 0;
        top: 0;
        height: 2.5em;
        line-height: 2.5em;
    }

    #header h1 a {
        font-size: 1em;
    }

    #header nav {
        display: none;
    }

}

#intro > div.content{
    color: #ffffff;
}

h1,
h2 {
    font-weight: 900;
    color: inherit;
    letter-spacing: -0.0325em;
}

ul {
    list-style: none;
}

ul {
    margin-bottom: 1em;
}

ul.default {
    list-style: disc;
    padding-left: 1em;
}

ul.default li {
    padding-left: 0.5em;
}

ul.menu {
    cursor: default;
}

ul.menu li {
    display: inline-block;
    line-height: 1em;
    border-left: solid 1px #e5e6e7;
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.5em;
}

ul.menu li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

ul.icons {
    cursor: default;
}

ul.icons li {
    display: inline-block;
}

ul.icons a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
}

#intro {
    background: url("images/overlay.png"), url("../images/intro.png");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}

.main {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.main>.content {
    width: 45em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

.main>.content> :last-child {
    margin-bottom: 0;
}

.main.fullscreen {
    min-height: 100%;
}

.main.style1 {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
    padding: 3em 0 3em 0;
}

.main.style1 h2 {
    font-size: 4.25em;
    line-height: 1em;
}

.main.style1>.content {
    opacity: 1.0;
    margin: 0;
}

.main.style1.inactive>.content {
    opacity: 0;
}

.main.style2 {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    padding: 3em 0 3em 0;
    overflow: hidden;
}

.main.style2>.content {
    transform: translateZ(0);
    position: relative;
    width: 35%;
    margin: 0;
}

.main.style2.left {
    justify-content: flex-start;
}

.main.style2.right {
    justify-content: flex-end;
}

.main.style2.inactive.left>.content {
    transform: translateX(-100%);
}

.main.style2.inactive.right>.content {
    transform: translateX(100%);
}

@media screen and (max-width: 1920px) {

    .main.style2 .content {
        width: 40%;
    }

}

@media screen and (max-width: 1280px) {

    .main.style2 .content {
        width: 50%;
    }

}

@media screen and (max-width: 1000px) {

    .main.style2 .content {
        width: 60%;
    }

}

@media screen and (max-width: 736px) {

    .main>.content br {
        display: none;
    }

    .main.fullscreen {
        height: auto !important;
    }

    .main.style1 {
        padding: 4em 15px 4em 15px;
    }

    .main.style1 h2 {
        font-size: 3em;
    }

    .main.style2 {
        padding: 6em 15px 6em 15px;
    }

    .main.style2:before,
    .main.style2:after {
        display: none !important;
    }

    .main.style2 .button.anchored {
        display: none;
    }

    .main.style2 .content {
        width: 100%;
        max-width: 100%;
        text-align: center;
        -moz-transform: none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .main.style3 {
        text-align: center;
        padding: 3em 10px 3em 10px;
    }

    .main.style3 .content>header {
        margin-bottom: 2em;
    }

    .main.style3.primary {
        background: #ffffff;
    }

    .main.style3.secondary {
        background: #f5f6f7;
    }

    .main.dark {
        color: #ffffff;
    }

    .main.dark a {
        color: inherit;
    }

    .main.dark .button.style2 {
        border-color: #ffffff;
    }

    .main.dark .button.style2:hover {
        background-color: rgba(255, 255, 255, 0.125);
    }

    .main.dark .button.style2:active {
        background-color: rgba(255, 255, 255, 0.25);
    }

    .main.dark .button.style2.down {
        background-image: url("images/dark-arrow.svg");
    }

}

@media screen and (max-width: 480px) {

    .main>.content {
        max-width: calc(100% - 1.5em);
    }

}

h2 {
    font-size: 2.25em;
    line-height: 1.25em;
    letter-spacing: -0.05em;
}

@media screen and (max-width: 736px) {

    h2 {
        font-size: 1.5em;
    }

}

footer {
    margin-top: 2em;
}

#footer {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    margin: 0;
    line-height: 1em;
    padding: 1.5em;
    background: #5c3a5c;
    color: rgba(185, 186, 187, 0.5);
    overflow: hidden;
}

#footer>* {
    margin-bottom: 0;
}

#footer a {
    color: inherit;
}

#footer a:hover {
    color: #b9babb;
}

#footer ul.menu {
    margin: 0;
}

#footer ul.menu li {
    border-left-color: rgba(53, 12, 58, 0.2);
    font-size: 0.9em;
}

@media screen and (max-width: 1000px) {

    #footer {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        line-height: 1.5em;
        text-align: center;
        padding: 2em 1em 2em 1em;
    }

    #footer>* {
        margin: 0 0 1em 0;
    }

}

@media screen and (max-width: 736px) {

    #footer ul.menu li {
        border-left: none;
        display: block;
        line-height: inherit;
        margin: 0.25em 0 0 0;
        padding: 0.25em 0 0 0;
    }

    #footer ul.menu li:first-child {
        margin-top: 0;
        padding-top: 0;
    }

}

input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: #98c593;
    border: 0;
    border-radius: 3.5em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 3.5em;
    line-height: 3.5em;
    outline: 0;
    padding: 0 2em 0 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
}

input[type="button"].down,
input[type="submit"].down,
input[type="reset"].down,
.button.down,
button.down {
    width: 5em;
    height: 5em;
    line-height: 4.5em;
    padding: 0;
    background-image: url("images/dark-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -10em;
    overflow: hidden;
}

input[type="button"].down.anchored,
input[type="submit"].down.anchored,
input[type="reset"].down.anchored,
.button.down.anchored,
button.down.anchored {
    bottom: 0;
    border-bottom: 0;
    border-radius: 3em 3em 0 0;
    height: 4.5em;
    margin-left: -2.5em;
}

input[type="button"].anchored,
input[type="submit"].anchored,
input[type="reset"].anchored,
.button.anchored,
button.anchored {
    position: absolute;
    left: 50%;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover,
button:hover {
    background-color: #a8cea4;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.button:active,
button:active {
    background-color: #88bc82;


}

input[type="button"].style2,
input[type="submit"].style2,
input[type="reset"].style2,
.button.style2,
button.style2 {
    background-color: transparent;
    border: solid 2px #e5e6e7;
    color: inherit;
}

input[type="button"].style2:hover,
input[type="submit"].style2:hover,
input[type="reset"].style2:hover,
.button.style2:hover,
button.style2:hover {
    background-color: rgba(229, 230, 231, 0.25);
}

input[type="button"].style2:active,
input[type="submit"].style2:active,
input[type="reset"].style2:active,
.button.style2:active,
button.style2:active {
    background-color: rgba(229, 230, 231, 0.375);
}

input[type="button"].style2.down,
input[type="submit"].style2.down,
input[type="reset"].style2.down,
.button.style2.down,
button.style2.down {
    background-image: url("images/arrow1.svg");
}

#one {
    background: url("images/overlay.png"), url("../images/one.png");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
}

.box {
    background: #ffffff;
    color: #39454b;
    padding: 2em;
}

.box> :last-child {
    margin-bottom: 0;
}

.box.style2 {
    padding: 3.5em 2.5em 3.5em 2.5em;
}

@media screen and (max-width: 736px) {

    .box {
        padding: 1em;
    }

    .box.style2 {
        padding: 1.5em 1.25em 1.5em 1.25em;
        background-color: rgba(255, 255, 255, 0.9);
    }

}

#two {
    background: url("images/overlay.png"), url("../images/two.png");
}

.gallery {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 45em;
    max-width: 100%;
    margin: 0 auto 2em auto;
}

.gallery article {
    transform: translateX(0);
    width: 50%;
    position: relative;
    opacity: 1.0;
}

.gallery article .image {
    margin: 0;
    display: block;
}

.gallery article:nth-last-child(1n) {
    transition-delay: 0.05s;
}

.gallery article:nth-last-child(2n) {
    transition-delay: 0.05s;
}

.gallery article:nth-last-child(2n) {
    transition-delay: 0.1s;
}

.gallery article:nth-last-child(3n) {
    transition-delay: 0.1s;
}

.gallery article:nth-last-child(3n) {
    transition-delay: 0.15s;
}

.gallery article:nth-last-child(4n) {
    transition-delay: 0.15s;
}

.gallery article:nth-last-child(4n) {
    transition-delay: 0.2s;
}

.gallery.inactive article {
    opacity: 0;
}

.gallery.inactive article.from-left {
    transform: translateX(-14em);
}

.gallery.inactive article.from-right {
    transform: translateX(14em);
}

.gallery.inactive article.from-top {
    transform: translateY(-7em);
}

.gallery.inactive article.from-bottom {
    transform: translateY(7em);
}

@media screen and (max-width: 480px) {

    .gallery {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .gallery article {
        width: 100%;
    }

}

.image {
    position: relative;
    display: inline-block;
    height: 10cm;
    width: 10cm;
}

.image:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("images/overlay.png");
}

.image img {
    display: block;
    width: 100%;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.fit {
    display: block;
    width: 100%;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}

body {
    font-family: "Source Sans Pro", "sans-serif";
    font-weight: 300;
    font-size: 18pt;
    line-height: 1.75em;
    color: #39454b;
    letter-spacing: 0.025em;
}

@media screen and (max-width: 1920px) {

    body {
        font-size: 17pt;
    }

}

@media screen and (max-width: 1680px) {

    body {
        font-size: 15pt;
    }

}

@media screen and (max-width: 1280px) {

    body {
        font-size: 13pt;
    }

}

@media screen and (max-width: 1000px) {

    body {
        font-size: 13pt;
    }

}

@media screen and (max-width: 736px) {

    body {
        font-size: 12pt;
        line-height: 1.5em;
    }

}

#three{
    padding: 5em;
}

.fa-brands{
    text-decoration: none;
    position: relative;
    text-decoration: none;
}

.fa-brands:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-weight: 400;
}

.fa-brands:before {
    line-height: inherit;
}

.fa-brands > .label {
    display: none;
}

.fa-brands.solid:before {
    font-weight: 900;
}

